<% if alert %>
<div class="alert alert-danger">
  <div id="error_explanation">
    <h4><%= pluralize(alert.count, "error") %> prohibited this form from being saved:</h4>

    <ul>
      <% alert.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
