<p>
  <% if membership.user %>
  <%= membership.user.first_name  %>
    <%= form_for [@project, membership], html:{class:"form-inline"} do |f| %>
      <%= f.collection_select :role_id, Role.all, :id, :title, {include_blank: false} %>
      <%= f.submit %>
    <% end %>
  <% end %>
</p>
