<header class="page-header">
  <%= link_to "New User", new_user_path, class:"btn btn-info pull-right", id:"new-user-action" %>
  <h1>Users</h1>
</header>

<body>
  <table class="table">
    <thead>
      <tr>
        <th class="col-sm-3">
          Name
        </th>
        <th class="col-sm-9">
          Email
        </th>
        <th>

        </th>
      </tr>
    </thead>
    <tbody >
      <% @users.each do |user| %>
        <tr>
          <td>
            <% first_last_name = "#{user.first_name} #{user.last_name}" %>
            <%= link_to first_last_name, user_path(user) %>
          </td>
          <td>
            <%= mail_to user.email %>
          </td>
          <td>
            <%= link_to "edit", edit_user_path(user), id:"edit-user#{user.id}-action" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</body>
