<header>
  <div class="pull-right">
    <%= link_to "Edit", edit_project_path(@project), class:"btn btn-info", id:"edit-project-action" %>
    <%= link_to "Delete", @project, class:"btn btn-danger", id:"delete-project-action", method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <h1><%= @project.name %></h1>
</header>
